<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/" | relative_url }}public/css/poole.css">
  <link rel="stylesheet" href="{{ "/" | relative_url }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ "/" | relative_url }}public/css/hyde.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


  <meta name="author" content="Alisha Aneja" />

  <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:site" content="@chronotope" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  {% if page.title %}
    <!-- Article specific OG data -->
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{page.date}}" />
    {% if page.modified %}
      <meta property="article:modified_time" content="{{page.modified}}" />
    {% endif %}
    <meta property="article:author" content="https://twitter.com/alisha_aneja17" />
    <meta property="article:publisher" content="https://twitter.com/alisha_aneja17" />
    <meta property="article:section" content="{{page.vertical}}" />
    {% for tag in page.categories %}
      <meta property="article:tag" content="{{tag}}" />
    {% endfor %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@chronotope" />
    <meta name="twitter:title" content="{{page.title}}" />
  {% if page.ogimagenull %}
    <!-- no og image -->
  {% elsif page.ogimage %}
    <meta property="og:image" content="{{page.ogimage}}" />
      <meta name="twitter:image" content="{{page.ogimage}}" />
      <meta property="og:image:width" content="600" />
      <meta property="og:image:height" content="315" />
  {% elsif page.image %}
      <meta property="og:image" content="{{page.image}}" />
      <meta name="twitter:image" content="{{page.image}}" />
    {% else %}
      <meta property="og:image" content="https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg" />
      <meta name="twitter:image" content="https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg" />
    {% endif %}

  {% else %}
    <!-- OG data for homepage -->
    <meta property="og:image" content="https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{site.title}}" />
    <meta name="twitter:image" content="https://41.media.tumblr.com/709bb3c371b9924add351bfe3386e946/tumblr_nxdq8uFdx81qzocgko1_1280.jpg" />

  {% endif %}


  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

</head>
