<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" | relative_url %} active{% endif %}" href="{{ "/" | relative_url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}


    </nav>

    <ul class="list-inline" id="sidebar-buttons">
            <a href="mailto:{{ site.author.email }}" class="btn-social btn-outline" title="E-Mail me">
                <i class="fa fa-fw fa-at fa-bg"></i>
            </a>
            <a href="{{ site.author.github }}" target="_blank" class="btn-social btn-outline" title="alisha17 on GitHub">
                <i class="fa fa-fw fa-github fa-bg"></i>
            </a>
            <a href="{{ site.author.twitter }}" target="_blank" class="btn-social btn-outline" title="@alisha_aneja17 on Twitter">
                <i class="fa fa-fw fa-twitter fa-bg"></i>
            </a>
            <a href="{{ site.author.linkedin}}" target="_blank" class="btn-social btn-outline" title="Alisha Aneja on LinkedIn">
                <i class="fa fa-fw fa-linkedin fa-bg"></i>
            </a>
            <a href="{{ site.author.wordpress}}" target="_blank" class="btn-social btn-outline" title="Alisha Aneja on wordpress">
                <i class="fa fa-fw fa-wordpress fa-bg"></i>
            </a>
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
